In [11]:
## importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
df=pd.read_csv("Travel.csv")

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

### Data Cleaning
#### Handling Missing values
#### Handling Missing values
#### Handling Duplicates
#### Check data type
#### Understand the dataset

In [13]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [17]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [31]:
df['Age'].isnull().sum()

226

In [29]:
### Check all the categories 
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [27]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [25]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [26]:
df["Gender"]=df["Gender"].replace("Fe Male","Female")

In [28]:
df['MaritalStatus']=df['MaritalStatus'].replace("Single","Unmarried")

In [78]:
## Check Misssing Values
##these are the features with nan value
#features_with_na=[features for features]
features_with_na=[]
for feature in df.columns:
    if df[feature].isnull().sum()>=1:
        features_with_na.append(feature)
#print(features_with_na)
# percentage of missing values in corrsponding columns
for feature in features_with_na:
   # print(feature ,'has' ,round(df[feature].isnull().value_counts()[1]/df.shape[0]*100,5),'percentage missing values')
   # print(feature ,'has' ,round(df[feature].isnull().value_counts()[1]/df[feature].isnull().value_counts()[0]*100,5),'percentage missing values')

    print(feature ,'has' ,round(df[feature].isnull().mean()*100,5),'percentage missing values')

Age has 4.62357 percentage missing values
TypeofContact has 0.51146 percentage missing values
DurationOfPitch has 5.13502 percentage missing values
NumberOfFollowups has 0.92062 percentage missing values
PreferredPropertyStar has 0.53191 percentage missing values
NumberOfTrips has 2.86416 percentage missing values
NumberOfChildrenVisiting has 1.35025 percentage missing values
MonthlyIncome has 4.76678 percentage missing values

In [70]:
df["Age"].isnull().value_counts()

Age
False    4662
True      226
Name: count, dtype: int64

In [76]:
df["Age"].isnull()

0       False
1       False
2       False
3       False
4        True
        ...
4883    False
4884    False
4885    False
4886    False
4887    False
Name: Age, Length: 4888, dtype: bool

In [67]:
df.shape
df.shape[0]

4888

In [69]:
df['Age'].isnull().value_counts()[1]

226

In [58]:

df['Age'].isnull().value_counts()[1]/df.shape[0]*100

4.623567921440261

In [72]:
print("Age has ",df['Age'].isnull().value_counts()[1]/df.shape[0]*100,'percentage missing values')

Age has  4.623567921440261 percentage missing values

In [73]:
# statistics on numerical columns (Null cols)


features_with_na

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [82]:
#only numerical columns 
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

## Imputing Null values
1. Impute Median value for Age column
2. Impute Mode for Type of Contract
3. Impute Median for Duration of Pitch
4. Impute Mode for NumberofFollowup as it is Discrete feature
5. Impute Mode for PreferredPropertyStar
6. Impute Median for NumberofTrips
7. Impute Mode for NumberOfChildrenVisiting
8. Impute Median for MonthlyIncome